# dependencies
node_modules

# testing
coverage

# production
build

/backend/dist

# misc
.env
.env.e2e
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Compiled TypeScript
*.tsbuildinfo

# Coverage directory
coverage/

# Temporary files
Thumbs.db

# IDE/Editor files
.vscode/

# Exclude generated directories for production deployment
# /frontend/.out/
# Ignore specific React build artifacts
# frontend/.out/

dist

